<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/f.css') }}">
    </head>
    <body>
        <div class="navbar">
            <a class="active" href="{{url_for ('logout')}}">log out</a>
        </div>
        <div style="text-align: center;">
            <h2>Admin Portal</h2>
        </div>
        <div style="text-align: center;">
            <div class="link" style="display: inline-block; text-align: center;">
                <h1>Welcome to the admin portal!</h1>
                <h1>You have the following roles:</h1> 
                <h1 class="p">{{p}}</h1>
                <h1>Below are the links you have access to</h1>
                <div class="roles">
                    {% for x in roles %}
                    <a class="active" href="#">{{x}}</a>
                    {% endfor %}
                </div>
                
            </div>
        </div>
    </body>
</html>
