<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/f.css') }}">
    </head>
    <body>
        <div class="navbar">
            <a class="active" href="{{url_for ('logout')}}">log out</a>
        </div>
        <div style="text-align: center;">
            <h2>Sales Admin Portal</h2>
        </div>
        <div style="text-align: center;">
            <div class="link" style="display: inline-block; text-align: center;">
                <h1>Welcome to the sales admin page</h1>
                <h1>Below are the links you have access too</h1>
                <a class="active" href="#Sales Reports">Sales Reports</a>
                <a class="active" href="#Sales Leads">Sales Leads</a>
                <a class="active" href="#Sales Demo">Sales Demo</a>
            </div>
        </div>
    </body>
</html>