body {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url("https://wallpapercave.com/wp/X6PjOyY.png");
    background-position: center;
    background-size: cover;
}
h1 {
    font-size: 40px;
    color: whitesmoke;
}
h2{
    color: black;
    margin-top: 100px;
    font-size: 80px;
}
a{
    padding: 10px 10px;
    
}
.link{
    font-size: 25px;
    background-color: black;
    border-style: groove;
    border-width: 8px;
    border-color: grey;
    margin-top: auto;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
}
.link a:hover{
    background-color: grey;
    color: grey;
}
.link a:active{
    color: blue;
}
.link a:visited{
    color: blue;
}
.navbar{
    background-color: black;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
}
.navbar a {
    float: left;
    color: white;
    padding: 20px 16px;
    font-size: 20px;
    text-align: center;
}
.navbar a:hover{
    background-color: grey;
}
.navbar a:active{
    color: blue;
}
