.a{
  display: inline-block;
  padding-left: 30px;
  
}

body{
  background-color: grey;
  font-family: Tahoma, Geneva, sans-serif;
  background-image: url("https://wallpapercave.com/wp/X6PjOyY.png");
  background-position: center;
  background-size: cover;
}

.login{
  color: black;
  display: inline-block;
  text-align: center;
  border-radius: 15px;
  margin: auto;
  padding-top: 45px;
  padding-left: 85px;
  padding-right: 85px;
  padding-bottom: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.login input{
  border: none;
  outline: none;
  background: none;
  border-bottom: 2px solid black;
}

.textbox{
  color: white;
}

  
.btn {
  padding: 10px 40px; 
  color: black;  
  font-weight: bold; 
  border-radius: 5px; 
  border: 2px solid whitesmoke;
}
