.login{
  color: bisque;
  background-color: black;
  border-style: groove;
  border-width: 8px;
  border-color: grey;
  margin: auto;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 25px;
}

  
.btn {
  padding: 10px 40px; 
  background-color: bisque;  
  color: #FFFFFF; 
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold; 
  border-radius: 5px; 
}
