input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
.btn {
  padding: 10px 40px; 
                background-color: #236B8E;  
                color: #FFFFFF; 
                font-style: oblique; 
                font-weight: bold; 
                border-radius: 10px; 
}